.wrapper {
  background: var(--theme-color);
  color: #fff;
  font-family: var(--primary-font);
  text-align: center;
  padding: 30px;
}
.wrapper p {
  font-size: 18px;
}

.wrapper h6 {
  padding-top: 5px;
  font-size: 16px;
}
