.wrapper {
  width: var(--width_80);
  margin: 0 auto;
  font-family: var(--primary-font);
}

.wrapper h2 {
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
}

.weather_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 800px) {
  .wrapper {
    width: var(--width_90);
  }
  .wrapper h2 {
    text-align: center;
  }
  .weather_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
