.wrapper {
  width: var(--width_80);
  margin: 0 auto;
}

.nav_links {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0;
}

@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
  .nav_links {
    justify-content: space-evenly;
  }
}
