.container {
  width: var(--width_80);
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container img {
  width: 500px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }
  .container img {
    width: 350px;
    margin-bottom: 50px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .container {
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }
  .container img {
    width: 400px;
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1250px) {
  .container img {
    width: 400px;
    margin-bottom: 50px;
    margin-right: 50px;
  }
}
